body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#headsection {
    color: #1c1c1c;
    text-align: center;
    margin-top: 0%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
}

#main_heading {
    color: #7c3f10;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    padding: 30px;
    font-size: 60px;

}

#fullcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #15133C;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}







#mainbody {
    background-image: linear-gradient(to bottom, #f0e4b6, #161006);

}

#imagecontainer {

    display: flex;
    flex-direction: row;
    color: #15133C;
    width: 50%;
    height: auto;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;


}


#sectioncontainer {
    display: flex;
    flex-direction: column;
    color: #7c3f10;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin: auto;


}


#main_section_div {
    font-size: 24px;
    color: #1c1c1c;
    text-align: justify;
}

#req_section_div {
    color: #1c1c1c;
    font-size: 24px;
    text-align: justify;
    padding: 10px;
}

#section1_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 50px;
    padding-bottom: 10px;
    color: white;
    font-size: 24px;
    text-align: justify;
    font-weight: bol;
}

#section2_div {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 20px;
    color: white;
    font-size: 24px;
    text-align: justify;


}

#section1>#p1 {
    color: #ffd42d;
}

#reqhead {
    background-color: #ffd42d;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #1c1c1c;
    font-size: 20px;
    border-radius: 10px;

}



#headdiv {
    background-color: #7c3f10;
    display: flex;
    justify-content: center;
    height: 80px;
    color: white;
    align-items: center;

}

#signup_button {
    background-color: rgb(190, 9, 9);
    color: white;
    font-size: 30px;
    width: 300px;
    justify-content: center;
    height: 80px;
    margin-bottom: auto;
    border: none;
    box-shadow: 1px 1px 13px;
    border-style: none;
    border-radius: 20px;
}

#signup_button:hover {
    box-shadow: 1px 1px 15px black;
    background-color: red;
    cursor: pointer;
}

img {
    box-shadow: 1px 1px 15px black;
    border-radius: 20px;
}

#query {
    color: #1c1c1c;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: bolder;
    background-color: #ffd42d;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 20px;


}

footer {
    font-size: 10px;
}

@media screen and (max-width: 1024px) {

    #imagecontainer,
    #sectioncontainer {
        width: 90%;

    }

    #main_section {
        margin-top: 30px;
    }

    @media screen and (max-width: 1024px) {
        #section1_div {
            padding-top: 0px;
        }

        #reqhead,
        #query {
            margin-left: -100%;
            margin-right: -100%;
        }

    }

    @media screen and (max-width: 768px) {

        #imagecontainer,
        #main_heading {
            margin-top: 30px;

        }


        #signup_button {
            width: 200px;
            height: 40px;
            font-size: 20px;
        }

        #query {

            background-color: none;
            text-align: left;
            padding: 0px;
            font-size: 15px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        #button_div {
            margin: auto;
            display: block;
            width: fit-content;
        }
    }

    @media screen and (max-width: 500px) {
        #imagecontainer {
            margin-top: 100px;
            width: 100%;
            padding: 0 20px;
        }

        #main_heading {
            margin-top: 70px;
            font-size: 33px;
            padding: 0px;
        }

        #headsection {
            font-size: 15px;
        }

        #query {

            background-color: none;
            text-align: left;
            padding: 0px;
            font-size: 15px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        #main_section_div,
        #req_section_div {
            font-size: 15px;
            padding: 0;
            width: 100%;
        }

        #section1_div {
            font-size: 14px;
            width: 100%;
            padding: 0%;
            margin: 5%;
            text-align: left;

        }

        #signup_button {
            width: 200px;
            height: 40px;
            font-size: 20px;
        }
    }

    @media screen and (max-width: 320px) {
        img {
            width: 100%;
            height: 100%;
        }

        #main_heading {
            font-size: 35px;
            margin-top: 25px;
            margin-bottom: 0;

        }

        #imagecontainer {
            margin-top: 40px;
        }

        #main_section_div,
        #req_section_div {
            font-size: 14px;
            padding: 0;
            width: 100%;
        }

        #section1_div {
            font-size: 13px;
            width: 100%;
            padding: 0%;
            margin: 10px;
            text-align: left;
        }

        #signup_button {
            width: 200px;
            height: 40px;
            font-size: 15px;
        }

        #query {

            text-align: center;
            padding: 0px;
            font-size: 13px;
        }

        #sub_heading {
            font-size: 15px;
        }
    }
}